/* General Reset */

*,
*::before,
*::after {
  box-sizing: border-box; 
  /* sizing consistent even when using borders */
}

body,
html {
  overflow-x: hidden;
  margin: 0;
  min-height: 100vh;
  /* All pages will take up the full screen */
}

body {
  text-rendering: optimizeSpeed;
  /* Improve performance slightly */
}

html:focus-within {
  scroll-behavior: smooth;
  /* Make scrolling look nicer */
}

button {
  cursor: pointer;
  font: inherit;
  color: inherit;
  /* Reset certain properties on buttons */
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
  
  /* Remove animations for those with accessiblity needs */
}

/* Global Styles */

:root {
  --bg-color: #010123;
}

body {
  background-color: var(--bg-color);
  color: white;
  font-family: sans-serif;
}

main {
  width: max-content;
  margin-inline: auto;
}

.button {
  border: 3px solid currentColor;
  border-radius: 1rem;
  padding: 0.5em 1em;
  text-decoration: none;
  font-family: sans-serif;
  color: white;
}

.button:hover {
  background-color: grey;
} 